*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: white;
} 
#hero {
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0, 0.4)), url('https://storage.needpix.com/rsynced_images/landscape-with-a-mountain-and-a-riv.jpg');
    background-position: center;
    background-size: cover;
    }
#hero header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding-right: 20rem;
    
}
header  h2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 15px;
    gap: 2rem;
}
#hero header {
    padding: 0rem 4rem;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;

}
#hero footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer iframe {
    height: 160px;
    width: 240px;
    border: 5px solid green;
    
}