*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: white;
} 
#hero {
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0, 0.4)), url('https://storage.needpix.com/rsynced_images/landscape-with-a-mountain-and-a-riv.jpg');
    background-position: center;
    background-size: cover;
    }
#hero header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding-right: 20rem;
    
}
#hero header nav ul :hover {
    color: green;
    border-bottom: 1px solid green;
    transition: 0.3s;
    cursor: pointer;
}
header  h2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 15px;
    gap: 2rem;
}

#hero header {
    padding: 0rem 4rem;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;

}
#hero footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer iframe {
    height: 160px;
    width: 240px;
    border: 5px solid green;
    
}
#hero main {
    text-transform: uppercase;   
    margin-top: 8rem;
    margin-left: 10rem;
    font-size: 1.5rem;
}
#hero main button{
    color:black;
    background-color: rgb(181, 221, 248);
    border: none;
    width: 8rem;
    height: 2.5rem;
    border-radius: 16px;
}
#hero main button:hover {
    background-color: green;
    transition: 0.3s;
    cursor: pointer;
}
#hero footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}
#hero main h1 {
    font-family: 'Merienda', cursive;
}
#hero main button {
    font-family: 'Lato', sans-serif;
font-family: 'Merienda', cursive;
   
}
#hero footer{
    padding: 5rem 2rem 3rem 4rem
}
#hero footer iframe {
   text-align: right;
   bottom: 0;
}
#hero footer ul li {
    list-style: none;
    padding: 1rem 1rem 1rem 1rem;
}


    
 

